html,
body {
    
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url('../images/background1.jpeg');
    background-size:auto;
    background-repeat:repeat;
    animation: moveBackground 200s linear infinite;
    display: flex;
    flex-direction: column;
}
 .container {
     flex: 1;
     /* Allows container to expand and fill available space, pushing the footer */
 }

@keyframes moveBackground {
    0% {
        background-position: 0,0 ;
    }

    100% {
        background-position: 0, -2000px;
    }
}

.navbar .nav-link {
    color: white;
}

.navbar .nav-link:hover {
    color: black;
}

.main {
    flex-grow: 1;
}

h1,
h2,
h4 {
    color: black;
}

.searchbar-directions {
    font-size: 1rem;
    color: black;
    font-weight: bold;
    margin-top: 5.5rem;
    
}

.searchbar-profile, .text_center span {
    font-size: 1rem;
    color: black;
    font-weight: bold;

    
}


.card {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    
}

.form-control,
.btn {
    border-radius: 5px;
}

.btn-primary {
    background-color: #007BFF;
    border: none;
}



/* current_weather styling */

.main-container {
    flex: 1;
  
    padding: 20px;
   
}

.navbar {
    background-color: #007bff;
}

.weather-card {
    max-width: 1200px;
    margin: 20px auto;
    
    border-radius: 10px;
}

.temperature-details,
.weather-info {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px blue;
   
}


 /* 7 day forecast */
          .navbar {
              background-color: #007bff;
          }
    
          .forecast-week {
              display: flex;
              justify-content: center;
              flex-wrap: wrap;
              padding: 20px;
              gap: 10px;
          }
    
          .forecast-card {
              background-color: white;
              padding: 10px;
              border-radius: 10px;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
              text-align: center;
              width: 125px;
             
          }
    
          .forecast-card img {
            width:100px;
            height:100px;
            padding-top: 15px;
            padding-bottom: 15px;
          }

 /* Dress Recommendation */
        #dress-recommendation-container {
            width: 80%;
            margin: 20px auto;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    
        #dress-recommendation-title {
            text-align: center;
            font-size: 24px;
            text-decoration: underline;
            margin-bottom: 20px;
            
        }
    
        .dress-card {
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px blue; 
            margin-bottom: 20px;
           
        }
    
        .dress-content {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            
        }
    
        .dress-section h3 {
            text-decoration: underline;
        }
    
        .dress-section ul {
            list-style-type: none;
            padding: 0;
        }
    
        .dress-section ul li {
            padding: 5px 0;
        }

/* contact page style */
.contact-page .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    
}

.contact-page .contact-form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
   
}

.contact-page .contact-form h3 {
    text-align: center;
    color: #007bff;
}

.contact-page .contact-form .form-control {
    margin-bottom: 10px;

}

.contact-page .contact-form .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    width: 100%;
   
}



.footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

#password {
    padding-left: 2.5px;
}

#profile_text{
    padding-top: 16px;
}

#main_icon{
    width:200px;
    height:200px;
    padding-top: 15px;
    padding-bottom: 15px;
}
