{% extends 'base.html' %} {% block content %}
 <main class="container mt-5">
      <div class="weather-card card border-primary mb-3">
        <div class="card-header bg-primary text-white text-center">
          CURRENT WEATHER FOR </br>{{location.name}}
        </div>
        <div class="card-body text-primary">
          <div class="row">
            <div class="col-md-8">
              <div class="temperature-details">
                <div class="temp-item">
                  <h5 id="temp-display">
                    {{ weather.current.temperature }} <sup id="temp-unit"> F </sup>
                  </h5>
                </div>
                <div class="temp-item">
                  <label>Feels Like:</label>
                  <span id="feels-like">{{ weather.current.temperature_apparent }} </span>
                </div>
                <div class="temp-item">
                  <label>High Temp:</label>
                  <span id="high-temp">{{ weather.current.temperature_max }} </span>
                </div>
                <div class="temp-item">
                  <label>Low Temp:</label>
                  <span id="low-temp">{{ weather.current.temperature_min }} </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="weather-info text-center">

                <img
                {% if weather.current.weather_classification == 'Clear' or weather.current.weather_classification == 'Mostly Clear' %}
                src="{{ weather_icon_url }}"
                {% elif weather.current.weather_classification == 'Partly Cloudy' %}
                src="{{ weather_icon_url }}"
                {% elif weather.current.weather_classification == 'Overcast' or weather.current.weather_classification == 'Fog' %}
                src="{{ weather_icon_url }}"
                {% elif weather.current.weather_classification == 'Drizzle' or weather.current.weather_classification == 'Freezing Drizzle' or weather.current.weather_classification == 'Light Rain' or weather.current.weather_classification == 'Rain' or weather.current.weather_classification == 'Heavy Rain' or weather.current.weather_classification == 'Freezing Rain' %}
                src="{{ weather_icon_url }}"
                {% elif weather.current.weather_classification == 'Light Snow' or weather.current.weather_classification == 'Snow' or weather.current.weather_classification == 'Heavy Snow' or weather.current.weather_classification == 'Snow Grains' %}
                src="{{ weather_icon_url }}"
                {% elif weather.current.weather_classification == 'Thunderstorm' or weather.current.weather_classification == 'Hailstorm' %}
                src="{{ weather_icon_url }}" 
                {% endif %}
                  
                  alt="Weather Icon"
                  class="weather-icon"
                />
                <div class="weather-classification">
                  <p id="weather-classification">
                    {{weather.current.weather_classification}}
                  </p>
                  <p id="wind-speed-direction">{{ weather.current.wind_speed }}&nbsp;MPH &nbsp;{{ weather.current.wind_direction}} </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
 <div id="dress-recommendation-container">
        <h1 id="dress-recommendation-title">Dress Recommendation</h1>
        <div class="dress-content">
            <div class="dress-card">
                <h5>General Dress Recommendation</h5>
                <ul>
                {% if feel_temp < 0 %}
                    <p>It is very cold. Dress appropriately.</p>
                {% elif feel_temp < 20 %}
                    <p>It is quite cold. Dress appropriately.</p>
                {% elif feel_temp < 40 %}
                    <p>It is cold. Dress appropriately.</p>
                {% elif feel_temp < 60 %}
                    <p>It is brisk. Dress appropriately.</p>
                {% elif feel_temp < 80 %}
                    <p>It is warm. Dress appropriately.</p>
                {% else %}
                    <p>It is hot. Dress appropriately.</p>
                {% endif %}
                </ul>
            </div>
            <div class="dress-card">
                <h5>Primary Apparel Items to Consider</h5>
                <ul>
                {% if feel_temp < 0 %}
                <li>Placeholder text for primary apparel for very cold.</li>
                {% elif feel_temp < 20 %}
                <li>Placeholder text for primary apparel for quite cold.</li>
                {% elif feel_temp < 40 %}                   
                <li>Placeholder text for primary apparel for cold.</li>
                {% elif feel_temp < 60 %}
                <li>Placeholder text for primary apparel for brisk.</li>
                {% elif feel_temp < 80 %}
                <li>Placeholder text for primary apparel for warm.</li>
                {% else %}
                <li>Placeholder text for secondary apparel for hot.</li>
                {% endif %}
                {% if weather.current.weather_classification == 'Drizzle' or weather.current.weather_classification == 'Freezing Drizzle' or weather.current.weather_classification == 'Light Rain' or weather.current.weather_classification == 'Rain' or weather.current.weather_classification == 'Heavy Rain' or weather.current.weather_classification == 'Freezing Rain' %}
                    <li>Close-Toe Shoes</li>
                {% endif %}
                </ul>
                <h5>Secondary Apparel Items to Consider</h5>
                <ul>
                {% if feel_temp < 0 %}
                <li>Placeholder text for secondary apparel for very cold.</li>
                {% elif feel_temp < 20 %}
                <li>Placeholder text for secondary apparel for quite cold.</li>
                {% elif feel_temp < 40 %}                   
                <li>Placeholder text for secondary appare for cold.</li>
                {% elif feel_temp < 60 %}
                <li>Placeholder text for secondary apparel for brisk.</li>
                {% elif feel_temp < 80 %}
                <li>Placeholder text for secondary apparel for warm.</li>
                {% else %}
                <li>Placeholder text for secondary apparel for hot.</li>
                {% endif %}
                {% if feel_temp > 40 and feel_temp < 60 and weather.current.wind_speed > 20 %}
                <li>Windbreaker</li>
                {% endif %}
                {% if weather.current.weather_classification == 'Drizzle' or weather.current.weather_classification == 'Freezing Drizzle' or weather.current.weather_classification == 'Light Rain' or weather.current.weather_classification == 'Rain' or weather.current.weather_classification == 'Heavy Rain' or weather.current.weather_classification == 'Freezing Rain' %}
                    <li>Waterproof Coat</li>
                    <li>Umbrella</li>
                {% endif %}
                </ul>
            </div>
        </div>
        </div>
    </main>


    <div class="container mt-5">
          <!-- Header for the forecast section -->
        <div class="card-header bg-primary text-white text-center">
          7-DAY FORECAST FOR</br>{{location.name}}
        </div>
          <!-- Week forecast display using cards -->
        <div class="forecast-week">
            {%for key, value in weather.forecasts.items %}
            <div class="forecast-card">
                <h6>{{value.date}}</h6>
                <img src="http://via.placeholder.com/50x50" alt="Weather Icon">
                <p><span> High:{{value.temperature_max}}</span><p>
                <p></span> Low: {{value.temperature_min}}</span></p>
                <p>{{value.weather_classification}}</p>
                <p>Chance of Precipitation:</br> {{value.precipitation_chance}} %</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
